<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Twitter API Demo </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <br>
            <h1 class="">Twitter API Demo App</h1>
            <p class="lead">Enter a valid username and press <em>Enter</em> to the user's latest 10 tweets</p>
            <form action="/fetch" class="search__form">
                <input type="text" class="form-control-sm" name="query">
                <button class="btn btn-primary">Fetch</button>
            </form>
        </div>
    </body>
</html>